<%= vider_tag 'assets/videos/pink-flowers-pan.mp4', position: '100% 100%' %>
<section class="container">


    

  <div class="wrapper">
    <div class="grow hover" id="content">
      <span id="opener"><a href="tables.html">BEAUTY</a></span>

    </div>
  </div>
  <div class="wrapper" id="border">
    <div class="grow hover" id="content">
      <div id="parent">
        <span>LOVE</span>
        <div id="hover-content">
          in who we are
        </div>
      </div>


    </div>
  </div>
  <div class="wrapper" id="border">
    <div class="grow hover" id="content">
      <span>DYNAMISM</span>
    </div>
  </div>
</section>
<div id="whoweare-caption">
  <h4>WHO IS Premiere?</h4>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
